<!--The content below is only a placeholder and can be replaced.-->
<div id="wave"></div>
<div style="text-align:center; z-index: 10000; top: 0px; position: absolute; width: 100%;">
  <h1>
    {{title}}
  </h1>
  <img id="my-angular" width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

  <h2>WaveSurfer- Seve by Tez Cadey</h2>
  <div id="waveform"></div>
  <div style="text-align: center">
    <button class="btn btn-primary" (click)="playPause()">
      <i class="glyphicon glyphicon-play"></i>
      {{btnPlayOrPause}}
    </button>

    <div class="row">
      <div class="col-xs-1">
        <i class="glyphicon glyphicon-zoom-in"></i>
      </div>

      <div class="col-xs-10">
        <input id="slider" type="range" min="1" max="200" value="1" style="width: 90%"/>
      </div>

      <div class="col-xs-1">
        <i class="glyphicon glyphicon-zoom-out"></i>
      </div>
    </div>
  </div>
</div>
